# -*- mode: gitignore; -*-
*~
\#*\#
/**/build
.DS_Store
node_modules
tmp/
_dev/
coverage/
/build

*.tar
*.tar.gz
*.tgz

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.tmp
*.tmp_proj
__pycache__/
*.pyc